body{
   background: linear-gradient(#85dff3,#00b1d8);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   
   
}
h1{
    position: fixed;
    top: 2em;
    left: 2em;
    
}
main{
    margin: 10em;
    text-align: center;
    display:flex;

}
textarea{
    font-size: x-large;
    color: #014959 ;
    background-color: #85dff3;
    outline: none;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 2em;
}

::placeholder{
 color: #006981;
}
.entrada{
    width: 60%;
    height: 90%;
    display: block;
    left: 60%;

}
.salida{
    position: fixed;
    left: 60%;
    height: 80%;
    display: block;
    width: 40%;

}
.place-holder{
    position: fixed;
    left: 60%;
    height: 80%;
    display: block;
    width: 40%;
    
}
.button{
    width: 200px;
    height: 30px;
    position: relative;
    top: 100px;
    border: solid 1px ;
    border-color: #014959;
    border-radius: 5px;
    background-color: #85dff3;
    color:#006981;
}
footer{
    margin: auto 0 0 0;
    text-align: center;
    color: #006981;
    background-color: #00b1d8;
    padding: 2em;
    
}
footer p{
    margin: 1,5em;
}

